# Default ignored files
/../../ActivityJUnit5br./.idea/shelf/
/../../ActivityJUnit5br./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ActivityJUnit5br./.idea/httpRequests/
# Datasource local storage ignored files
/../../ActivityJUnit5br./.idea/dataSources/
/../../ActivityJUnit5br./.idea/dataSources.local.xml
